#doc,
#doc2,
#doc3,
#doc4,
.scg-t1,
.scg-t2,
.scg-t3,
.scg-t4,
.scg-t5,
.scg-t6,
.scg-t7 {
  margin: auto;
  text-align: left;
  width: 57.69em;
  *width: 56.25em;
}
#doc2 {
  width: 100%;
}
#doc3 {
  margin: auto 10px;
  width: auto;
}
#doc4 {
  width: 74.923em;
  *width: 73.05em;
}
.scg-b {
  position: relative;
}
.scg-b {
  _position: static;
}
#scg-main .scg-b {
  position: static;
}
#scg-main,
.scg-g .scg-u .scg-g {
  width: 100%;
}
.scg-t1 #scg-main,
.scg-t2 #scg-main,
.scg-t3 #scg-main {
  float: right;
  margin-left: -25em;
}
.scg-t4 #scg-main,
.scg-t5 #scg-main,
.scg-t6 #scg-main {
  float: left;
  margin-right: -25em;
}
.scg-t1 .scg-b {
  float: left;
  width: 12.30769em;
  *width: 12em;
}
.scg-t1 #scg-main .scg-b {
  margin-left: 13.30769em;
  *margin-left: 13.05em;
}
.scg-t2 .scg-b {
  float: left;
  width: 13.8461em;
  *width: 13.5em;
}
.scg-t2 #scg-main .scg-b {
  margin-left: 14.8461em;
  *margin-left: 14.55em;
}
.scg-t3 .scg-b {
  float: left;
  width: 23.0769em;
  *width: 22.5em;
}
.scg-t3 #scg-main .scg-b {
  margin-left: 24.0769em;
  *margin-left: 23.62em;
}
.scg-t4 .scg-b {
  float: right;
  width: 13.8456em;
  *width: 13.5em;
}
.scg-t4 #scg-main .scg-b {
  margin-right: 14.8456em;
  *margin-right: 14.55em;
}
.scg-t5 .scg-b {
  float: right;
  width: 18.4615em;
  *width: 18em;
}
.scg-t5 #scg-main .scg-b {
  margin-right: 19.4615em;
  *margin-right: 19.125em;
}
.scg-t6 .scg-b {
  float: right;
  width: 23.0769em;
  *width: 22.5em;
}
.scg-t6 #scg-main .scg-b {
  margin-right: 24.0769em;
  *margin-right: 23.62em;
}
.scg-t7 #scg-main .scg-b {
  display: block;
  margin: 0 0 1em 0;
}
#scg-main .scg-b {
  float: none;
  width: auto;
}
.scg-gb .scg-u,
.scg-g .scg-gb .scg-u,
.scg-gb .scg-g,
.scg-gb .scg-gb,
.scg-gb .scg-gc,
.scg-gb .scg-gd,
.scg-gb .scg-ge,
.scg-gb .scg-gf,
.scg-gc .scg-u,
.scg-gc .scg-g,
.scg-gd .scg-u {
  float: left;
}
.scg-g .scg-u,
.scg-g .scg-g,
.scg-g .scg-gb,
.scg-g .scg-gc,
.scg-g .scg-gd,
.scg-g .scg-ge,
.scg-g .scg-gf,
.scg-gc .scg-u,
.scg-gd .scg-g,
.scg-g .scg-gc .scg-u,
.scg-ge .scg-u,
.scg-ge .scg-g,
.scg-gf .scg-g,
.scg-gf .scg-u {
  float: right;
}
.scg-g div.first,
.scg-gb div.first,
.scg-gc div.first,
.scg-gd div.first,
.scg-ge div.first,
.scg-gf div.first,
.scg-g .scg-gc div.first,
.scg-g .scg-ge div.first,
.scg-gc div.first div.first {
  float: left;
}
.scg-g .scg-u,
.scg-g .scg-g,
.scg-g .scg-gb,
.scg-g .scg-gc,
.scg-g .scg-gd,
.scg-g .scg-ge,
.scg-g .scg-gf {
  width: 49.1%;
}
.scg-gb .scg-u,
.scg-g .scg-gb .scg-u,
.scg-gb .scg-g,
.scg-gb .scg-gb,
.scg-gb .scg-gc,
.scg-gb .scg-gd,
.scg-gb .scg-ge,
.scg-gb .scg-gf,
.scg-gc .scg-u,
.scg-gc .scg-g,
.scg-gd .scg-u {
  width: 32%;
  margin-left: 1.99%;
}
.scg-gb .scg-u {
  *margin-left: 1.9%;
  *width: 31.9%;
}
.scg-gc div.first,
.scg-gd .scg-u {
  width: 66%;
}
.scg-gd div.first {
  width: 32%;
}
.scg-ge div.first,
.scg-gf .scg-u {
  width: 74.2%;
}
.scg-ge .scg-u,
.scg-gf div.first {
  width: 24%;
}
.scg-g .scg-gb div.first,
.scg-gb div.first,
.scg-gc div.first,
.scg-gd div.first {
  margin-left: 0;
}
.scg-g .scg-g .scg-u,
.scg-gb .scg-g .scg-u,
.scg-gc .scg-g .scg-u,
.scg-gd .scg-g .scg-u,
.scg-ge .scg-g .scg-u,
.scg-gf .scg-g .scg-u {
  width: 49%;
  *width: 48.1%;
  *margin-left: 0;
}
.scg-g .scg-g .scg-u {
  width: 48.1%;
}
.scg-g .scg-gb div.first,
.scg-gb .scg-gb div.first {
  *margin-right: 0;
  *width: 32%;
  _width: 31.7%;
}
.scg-g .scg-gc div.first,
.scg-gd .scg-g {
  width: 66%;
}
.scg-gb .scg-g div.first {
  *margin-right: 4%;
  _margin-right: 1.3%;
}
.scg-gb .scg-gc div.first,
.scg-gb .scg-gd div.first {
  *margin-right: 0;
}
.scg-gb .scg-gb .scg-u,
.scg-gb .scg-gc .scg-u {
  *margin-left: 1.8%;
  _margin-left: 4%;
}
.scg-g .scg-gb .scg-u {
  _margin-left: 1%;
}
.scg-gb .scg-gd .scg-u {
  *width: 66%;
  _width: 61.2%;
}
.scg-gb .scg-gd div.first {
  *width: 31%;
  _width: 29.5%;
}
.scg-g .scg-gc .scg-u,
.scg-gb .scg-gc .scg-u {
  width: 32%;
  _float: right;
  margin-right: 0;
  _margin-left: 0;
}
.scg-gb .scg-gc div.first {
  width: 66%;
  *float: left;
  *margin-left: 0;
}
.scg-gb .scg-ge .scg-u,
.scg-gb .scg-gf .scg-u {
  margin: 0;
}
.scg-gb .scg-gb .scg-u {
  _margin-left: 0.7%;
}
.scg-gb .scg-g div.first,
.scg-gb .scg-gb div.first {
  *margin-left: 0;
}
.scg-gc .scg-g .scg-u,
.scg-gd .scg-g .scg-u {
  *width: 48.1%;
  *margin-left: 0;
}
.scg-gb .scg-gd div.first {
  width: 32%;
}
.scg-g .scg-gd div.first {
  _width: 29.9%;
}
.scg-ge .scg-g {
  width: 24%;
}
.scg-gf .scg-g {
  width: 74.2%;
}
.scg-gb .scg-ge div.scg-u,
.scg-gb .scg-gf div.scg-u {
  float: right;
}
.scg-gb .scg-ge div.first,
.scg-gb .scg-gf div.first {
  float: left;
}
.scg-gb .scg-ge .scg-u,
.scg-gb .scg-gf div.first {
  *width: 24%;
  _width: 20%;
}
.scg-gb .scg-ge div.first,
.scg-gb .scg-gf .scg-u {
  *width: 73.5%;
  _width: 65.5%;
}
.scg-ge div.first .scg-gd .scg-u {
  width: 65%;
}
.scg-ge div.first .scg-gd div.first {
  width: 32%;
}
#hd:after,
#bd:after,
#ft:after,
.scg-g:after,
.scg-gb:after,
.scg-gc:after,
.scg-gd:after,
.scg-ge:after,
.scg-gf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#hd,
#bd,
#ft,
.scg-g,
.scg-gb,
.scg-gc,
.scg-gd,
.scg-ge,
.scg-gf {
  zoom: 1;
}
.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}

#inner {
  padding: 10px 80px;
  margin: 0px auto;
  background: #f5f5f5;
  border: solid rgba(73, 68, 170, 1);
  border-width: 16px 0 2px 0;
}
.scg-gf {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#bd,
#ft {
  margin-bottom: 2em;
}

#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

#hd h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  color: rgba(73, 68, 170, 1);
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: rgba(143, 49, 137, 1);
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}

p.enlarge {
  font-size: 144%;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.contact-info {
  margin-top: 7px;
}
.first h2 {
  font-style: italic;
}
.last {
  border-bottom: 0;
}

a#pdf {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}
a#pdf:hover {
  background: #222;
}

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}
.job p {
  margin: 0.75em 0 3em 0;
}

.last {
  border: none;
}
.skills-list {
}
.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 3px 0;
  padding: 3px 0;
}
.skills-list li span {
  font-size: 152%;
  display: block;
  margin-bottom: -2px;
  padding: 0;
}
.talent {
  width: 32%;
  float: left;
}
.talent h2 {
  margin-bottom: 6px;
}

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 20px;
}

.scg-gf .scg-u {
  width: 80.2%;
}
.scg-gf div.first {
  width: 12.3%;
}
